# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# Keystore contents (keep dir with .gitkeep)
keystore/*
!keystore/.gitkeep

# Settings contents (keep dir with .gitkeep)
settings/*
!settings/.gitkeep